[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant = "*"
lywsd02 = "*"
pyyaml = ">=4.2b1"
voluptuous = "*"

[dev-packages]

[requires]
python_version = "3.7"
